- @segments.each do |seg|
  .span6
    .media.panel.panel-info
      .panel-heading= seg.name
      .media-body.panel-body
        %ul{style: "list-style: none;margin-left: 10px"}
          - seg.articles.each do |art|
            %li
              =link_to art.title, art
