- @segments.each do |seg|
  .span6{style: "margin-left:5px;margin-right:5px"}
    .media.panel.panel-info
      .panel-heading= seg.name
      .media-body.panel-body
        %ul{style: "list-style: none"}
          - seg.articles.region(@province.id).each do |art|
            %li
              =link_to art.title, art
