.container.theme-showcase{role: "main"}
  .row-fluid{data: {desc: "hero_unit"} }
    = render partial: 'common/theme/hero_unit', object: @province
  .row-fluid{data: {desc: "content"} }
    = render partial: 'common/theme/content', object: @categories