%p#notice= notice

.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      %a{ href: "#lA", data: { toggle: "tab"} } 更新说明
    %li
      %a{ href: "#lB", data: { toggle: "tab"} } 提交改进
    %li
      = link_to "退出测试", maintain_logout_path, method: :delete
  .tab-content
    .tab-pane.active#lA
      = render partial: "maintain/common/update"
    .tab-pane#lB
      = render partial: "maintain/common/req", object: @maintain_invite_article