.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = image_tag 'dpmethod/logobw.png', class: 'brand head-icon'
      %ul.nav.pull-right.iheadnavul{style: "line-height: 50px;"}
        %li.active
          = link_to '首页', '#' 
        %li
          %a{href: '#'} 服务项目
        %li
          %a{href: '#'} 拥有资源
        %li
          %a{href: '#'} 浏览博客
        %li
          %a{href: '#'} 了解价钱
        %li
          %a{href: '#'} 关于我们
        %li
          %a{href: '#'} 联系我们