%form.form-inline{accept: { charset: "UTF-8"}, action: "/maintain/login", method: "post"}
  %input.input-small{type: "text", name: "sal", style: "width:40px"}
  %span -
  %input.input-small{type: "text", name: "name", style: "width:40px"}
  %span -
  %input.input-small{type: "text", name: "code", style: "width:40px"}
  %button.btn.btn-info{type: "submit"} 登录