// Place all the styles related to the dpmethod::front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.head-icon {
//  background-image: url('http://www.digitalsherpa.com/img/logobw.png');
}

.iheadnavul > li {
  line-height: 50px;
  font-size: 130%;
}
.dp-container-fixed-navbar {
  min-height: 70px;
}