%hr{style: "color:black"}

#footer
  .maintain.row
    %ul
      %li
        = link_to "网站管理"
        |
        = link_to "意见反馈"
  .address.row
    %ul
      %li www.abc.com
      %li 版权所有: 中国
      %li 技术支持: 中国
      %li 联系电话: 010-xxxxxxxx