%h1 帖子列表

.span6
  %h4 统计栏...帖子数目...一共找到100+条

.span8
  %table.table.table-striped
    %tr
      %th 标题
      %th 发布日期
      - if current_admin
        %th

    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.created_at.strftime('%Y-%m-%d %H:%M').to_s
        - if current_admin
          %td
            = link_to '修改', edit_post_path(post)
            = link_to '删除', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

/ = link_to 'New Post', new_post_path
