<div class="header">
  <div class="header-inner">
    <div class="h-con clearfix">
      <h1 class="logo fl"> 
        <a href="#" looyu_bound="1"> 
          <img src="" alt="Logo" width="177" height="53" title="建筑同城网">
        </a>
      </h1>
      <div class="s-eara" id="search_wrap">
        <form id="searchForm" method="get" action="#">
          <div class="fl" style="position: relative;">
            <input type="hidden" name="s" value="10635744404524485176">
            <input type="text" id="search_keyword" name="q" onfocus="if(this.value==&#39;请输入类别名称或关键字&#39;)this.value=&#39;&#39;" onblur="if(this.value==&#39;&#39;)this.value=&#39;请输入类别名称或关键字&#39;" value="请输入类别名称或关键字">
          </div>
          <div class="fr">
            <input id="search_button" type="submit" value="搜 索" class="btn-s">
          </div>
        </form>
      </div>
      <div class="edit-eara"> 
        <a href="#" target="_blank" class="btn-post" looyu_bound="1">免注册发布信息</a>
      </div>
    </div>
  </div>
</div>
