<ul class="tab-index clearfix">
  <li id="Map_Index" style="margin-left: 10px;" class="here">
    <a href="#" looyu_bound="1">首 页</a>
  </li>
  <li id="Map_InfoList">
    <a href="#" looyu_bound="1">信息首页</a>
  </li>
  <li>
    <a href="#" looyu_bound="1">全职招聘</a>
  </li>
  <li id="Map_ZiZhiList">
    <a href="#" looyu_bound="1">资质代办</a>
  </li>
  <li id="Map_CompanyList">
    <a href="#" looyu_bound="1">公司黄页</a>
  </li>
  <li id="Map_ResumeList">
    <a href="#" looyu_bound="1">简历库</a>
  </li>
  <li id="Map_ReferPrice">
    <a href="#" looyu_bound="1">价格参考</a> 
  </li>
  <li id="Map_QueryScore">
    <a href="#" looyu_bound="1">成绩查询</a> 
  </li>
  <li style="float: right; width: auto;" class="right">
    <a href="#" target="_blank" looyu_bound="1">我要推广</a>
    <a href="#" target="_blank" looyu_bound="1">联系我们</a>
  </li>
</ul>