<div id="topbar">    
    <div class="t-bar clearfix">
        <div id="tbar1" class="fl" style="z-index: 1; position: relative;">
            <a id="areaName" href="#" looyu_bound="1"></a> 
            <span class="topLink">
                <span>
                    <a href="#" target="_blank" style="color:#FF0000" looyu_bound="1">
                        <span class="icoPhone_"></span>手机客户端
                    </a>
                </span>
                <span style="color: #a0a0a0; padding-left:10px">
                    <a href="#" target="_blank" looyu_bound="1">资质大全</a> 
                    <a href="#" target="_blank" looyu_bound="1">挂证</a>  
                    <a href="#" target="_blank" looyu_bound="1">求职</a>
                    <a href="#" target="_blank" looyu_bound="1">招聘</a>
                </span>
            </span>
        </div>
        <div class="head-r" id="loginShow">
            <div class="fr" id="loginShow">
                <a href="#" looyu_bound="1">会员登录</a>
                &nbsp;<a href="#" looyu_bound="1">免费注册</a>
                &nbsp;<a href="#" target="_blank" looyu_bound="1">社区</a>
            </div>
        </div>
    </div>
</div>