<div class="c_b">
    <h2>
        <a href="http://www.58guakao.com/t559c0s0/1.html" looyu_bound="1">一级建造师»</a>
    </h2>
    <a href="http://www.58guakao.com/t571c0s0/1.html" looyu_bound="1">建筑工程</a>(363961)<br>
    <a href="http://www.58guakao.com/t573c0s0/1.html" looyu_bound="1">市政公用</a>(141270)<br>
    <a href="http://www.58guakao.com/t572c0s0/1.html" looyu_bound="1">机电工程</a>(91833)<br>
    <a href="http://www.58guakao.com/t574c0s0/1.html" looyu_bound="1">公路工程</a>(46191)<br>
    <a href="http://www.58guakao.com/t576c0s0/1.html" looyu_bound="1">水利水电</a>(43110)<br>
    <a href="http://www.58guakao.com/t578c0s0/1.html" looyu_bound="1">矿业工程</a>(24902)<br>
    <a href="http://www.58guakao.com/t577c0s0/1.html" looyu_bound="1">港口与航道</a>(11978)<br>
    <a href="http://www.58guakao.com/t580c0s0/1.html" looyu_bound="1">通信与广电</a>(10136)<br>
    <a href="http://www.58guakao.com/t575c0s0/1.html" looyu_bound="1">铁路工程</a>(4416)<br>
    <a href="http://www.58guakao.com/t579c0s0/1.html" looyu_bound="1">民航机场</a>(2858)<br>

    <h2>
        <a href="http://www.58guakao.com/t568c0s0/1.html" looyu_bound="1">电气工程师»</a> 
    </h2>
    <a href="http://www.58guakao.com/t624c0s0/1.html" looyu_bound="1">供配电</a>(74415)<br>
    <a href="http://www.58guakao.com/t625c0s0/1.html" looyu_bound="1">发输变电</a>(47302)<br>

    <h2>
        <a href="http://www.58guakao.com/t569c0s0/1.html" looyu_bound="1">公用设备工程师»</a> 
    </h2>
    <a href="http://www.58guakao.com/t626c0s0/1.html" looyu_bound="1">暖通空调</a>(89940)<br>
    <a href="http://www.58guakao.com/t628c0s0/1.html" looyu_bound="1">给水排水</a>(49288)<br>
    <a href="http://www.58guakao.com/t627c0s0/1.html" looyu_bound="1">动力</a>(24690)<br>

    <h2>
        <a href="http://www.58guakao.com/t561c0s0/1.html" looyu_bound="1">造价师»</a> 
    </h2><a href="http://www.58guakao.com/t587c0s0/1.html" looyu_bound="1">建设部</a>(105060)<br>
    <a href="http://www.58guakao.com/t589c0s0/1.html" looyu_bound="1">水利部</a>(3794)<br>
    <a href="http://www.58guakao.com/t588c0s0/1.html" looyu_bound="1">交通部</a>(1451)<br>
</div>

<div class="c_b">
    <h2>
        <a href="http://www.58guakao.com/t560c0s0/1.html" looyu_bound="1">二级建造师»</a> 
    </h2>
    <a href="http://www.58guakao.com/t581c0s0/1.html" looyu_bound="1">建筑工程</a>(245977)<br>
    <a href="http://www.58guakao.com/t586c0s0/1.html" looyu_bound="1">市政公用工程</a>(96156)<br>
    <a href="http://www.58guakao.com/t582c0s0/1.html" looyu_bound="1">机电工程</a>(95481)<br>
    <a href="http://www.58guakao.com/t583c0s0/1.html" looyu_bound="1">水利水电工程</a>(74389)<br>
    <a href="http://www.58guakao.com/t584c0s0/1.html" looyu_bound="1">公路工程</a>(60348)<br>
    <a href="http://www.58guakao.com/t585c0s0/1.html" looyu_bound="1">矿业工程</a>(8877)<br>

    <h2>
        <a href="http://www.58guakao.com/t563c0s0/1.html" looyu_bound="1">结构师»</a> 
    </h2>
    <a href="http://www.58guakao.com/t592c0s0/1.html" looyu_bound="1">一级结构师</a>(55253)<br>
    <a href="http://www.58guakao.com/t593c0s0/1.html" looyu_bound="1">二级结构师</a>(14415)<br>

    <h2>
        <a href="http://www.58guakao.com/t562c0s0/1.html" looyu_bound="1">建筑师»</a> 
    </h2>
    <a href="http://www.58guakao.com/t590c0s0/1.html" looyu_bound="1">一级建筑师</a>(41870)<br>
    <a href="http://www.58guakao.com/t591c0s0/1.html" looyu_bound="1">二级建筑师</a>(8209)<br>

    <h2>
        <a href="http://www.58guakao.com/t570c0s0/1.html" looyu_bound="1">土木工程师»</a> 
    </h2>
    <a href="http://www.58guakao.com/t629c0s0/1.html" looyu_bound="1">注册岩土</a>
(82352)<br><a href="http://www.58guakao.com/t718c0s0/1.html" looyu_bound="1">水利水电</a>
(1301)<br><a href="http://www.58guakao.com/t630c0s0/1.html" looyu_bound="1">港口航道</a>
(658)<br>
                <h2><a href="http://www.58guakao.com/t567c0s0/1.html" looyu_bound="1">监理师»</a> </h2><a href="http://www.58guakao.com/t622c0s0/1.html" looyu_bound="1">建设部</a>
(88576)<br><a href="http://www.58guakao.com/t621c0s0/1.html" looyu_bound="1">水利部</a>
(3000)<br><a href="http://www.58guakao.com/t623c0s0/1.html" looyu_bound="1">交通部</a>
(2321)<br>
    </div>
    <div class="c_b">
                <h2><a href="http://www.58guakao.com/t565c0s0/1.html" looyu_bound="1">注册咨询师»</a> </h2><a href="http://www.58guakao.com/t600c0s0/1.html" looyu_bound="1">环境工程和生态建设..</a>
(5580)<br><a href="http://www.58guakao.com/t601c0s0/1.html" looyu_bound="1">市政公用工程</a>
(4857)<br><a href="http://www.58guakao.com/t725c0s0/1.html" looyu_bound="1">建筑/建筑材料</a>
(4017)<br><a href="http://www.58guakao.com/t565c0s0/1.html" looyu_bound="1">更多</a>
(19940)<br>
                <h2><a href="http://www.58guakao.com/t566c0s0/1.html" looyu_bound="1">其他证书»</a> </h2><a href="http://www.58guakao.com/t608c0s0/1.html" looyu_bound="1">城市规划师</a>
(29682)<br><a href="http://www.58guakao.com/t740c0s0/1.html" looyu_bound="1">矿山工程师</a>
(13334)<br><a href="http://www.58guakao.com/t735c0s0/1.html" looyu_bound="1">房地产估价师</a>
(8304)<br><a href="http://www.58guakao.com/t594c0s0/1.html" looyu_bound="1">化工工程师</a>
(6798)<br><a href="http://www.58guakao.com/t736c0s0/1.html" looyu_bound="1">注册税务师</a>
(6631)<br><a href="http://www.58guakao.com/t598c0s0/1.html" looyu_bound="1">环评工程师</a>
(6007)<br><a href="http://www.58guakao.com/t737c0s0/1.html" looyu_bound="1">注册会计师</a>
(5795)<br><a href="http://www.58guakao.com/t566c0s0/1.html" looyu_bound="1">更多</a>
(27169)<br>
                <h2><a href="http://www.58guakao.com/t973c0s0/1.html" looyu_bound="1">建筑培训»</a> </h2><a href="http://www.58guakao.com/t976c0s0/1.html" looyu_bound="1">二级建造师培训</a>
(727)<br><a href="http://www.58guakao.com/t978c0s0/1.html" looyu_bound="1">八大员培训</a>
(221)<br><a href="http://www.58guakao.com/t974c0s0/1.html" looyu_bound="1">一级建造师培训</a>
(173)<br><a href="http://www.58guakao.com/t980c0s0/1.html" looyu_bound="1">造价员培训</a>
(170)<br><a href="http://www.58guakao.com/t975c0s0/1.html" looyu_bound="1">监理工程师培训</a>
(85)<br><a href="http://www.58guakao.com/t979c0s0/1.html" looyu_bound="1">三类人员培训</a>
(71)<br><a href="http://www.58guakao.com/t981c0s0/1.html" looyu_bound="1">资料员培训</a>
(40)<br><a href="http://www.58guakao.com/t973c0s0/1.html" looyu_bound="1">更多</a>
(337)<br>
    </div>
    <div class="c_b">
                <h2><a href="http://www.58guakao.com/t695c0s0/1.html" looyu_bound="1">职称证书»</a> </h2><a href="http://www.58guakao.com/t707c0s0/1.html" looyu_bound="1">园林设计/园艺师</a>
(33807)<br><a href="http://www.58guakao.com/t705c0s0/1.html" looyu_bound="1">建筑/建筑施工</a>
(33592)<br><a href="http://www.58guakao.com/t711c0s0/1.html" looyu_bound="1">暖通/暖通空调/热..</a>
(17798)<br><a href="http://www.58guakao.com/t710c0s0/1.html" looyu_bound="1">给排水</a>
(17575)<br><a href="http://www.58guakao.com/t757c0s0/1.html" looyu_bound="1">建筑电气类</a>
(17534)<br><a href="http://www.58guakao.com/t704c0s0/1.html" looyu_bound="1">工民建</a>
(15076)<br><a href="http://www.58guakao.com/t753c0s0/1.html" looyu_bound="1">市政/公路</a>
(12447)<br><a href="http://www.58guakao.com/t758c0s0/1.html" looyu_bound="1">机械、自动化类</a>
(11362)<br><a href="http://www.58guakao.com/t706c0s0/1.html" looyu_bound="1">水利水电/化工</a>
(10633)<br><a href="http://www.58guakao.com/t760c0s0/1.html" looyu_bound="1">计算机、电子、通信..</a>
(8407)<br><a href="http://www.58guakao.com/t752c0s0/1.html" looyu_bound="1">建设设计/测量</a>
(8119)<br><a href="http://www.58guakao.com/t695c0s0/1.html" looyu_bound="1">更多</a>
(54305)<br>
                <h2> <a href="http://www.58guakao.com/t714c0s0/1.html" id="zz_old" looyu_bound="1">资质代办»</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.58guakao.com/zizhi61c0s2/1.html" id="zz_new" style="color:#606060;" looyu_bound="1">新版»</a></h2>
                <div id="zz_old_content">    <a href="http://www.58guakao.com/t716c0s0/1.html" looyu_bound="1">园林绿化资质代办</a>
(2403)<br>    <a href="http://www.58guakao.com/t750c0s0/1.html" looyu_bound="1">总承包资质办理</a>
(2385)<br>    <a href="http://www.58guakao.com/t749c0s0/1.html" looyu_bound="1">施工专业承包资质</a>
(2030)<br>    <a href="http://www.58guakao.com/t751c0s0/1.html" looyu_bound="1">设计施工一体化资质..</a>
(1576)<br>    <a href="http://www.58guakao.com/t717c0s0/1.html" looyu_bound="1">代办劳务分包资质</a>
(1183)<br>    <a href="http://www.58guakao.com/t984c0s0/1.html" looyu_bound="1">代办企业资质</a>
(1103)<br>    <a href="http://www.58guakao.com/t987c0s0/1.html" looyu_bound="1">建筑企业资质办理</a>
(813)<br>    <a href="http://www.58guakao.com/t989c0s0/1.html" looyu_bound="1">建筑企业资质代办</a>
(788)<br>    <a href="http://www.58guakao.com/t714c0s0/1.html" looyu_bound="1">更多</a>
(3859)<br>
                </div>
                <div style="display: none;" id="zz_new_content">    <a href="http://www.58guakao.com/zizhi100c0s2/1.html" looyu_bound="1">施工专业承包资质代..</a>     <span>(785)</span><br>    <a href="http://www.58guakao.com/zizhi101c0s2/1.html" looyu_bound="1">施工总承包资质代办..</a>     <span>(733)</span><br>    <a href="http://www.58guakao.com/zizhi103c0s2/1.html" looyu_bound="1">设计施工一体化资质..</a>     <span>(504)</span><br>    <a href="http://www.58guakao.com/zizhi152c0s2/1.html" looyu_bound="1">园林绿化资质</a>     <span>(297)</span><br>    <a href="http://www.58guakao.com/zizhi102c0s2/1.html" looyu_bound="1">施工劳务分包资质</a>     <span>(235)</span><br>    <a href="http://www.58guakao.com/zizhi157c0s2/1.html" looyu_bound="1">设计资质</a>     <span>(219)</span><br>    <a href="http://www.58guakao.com/zizhi155c0s2/1.html" looyu_bound="1">监理资质</a>     <span>(178)</span><br>    <a href="http://www.58guakao.com/zizhi156c0s2/1.html" looyu_bound="1">勘察资质</a>     <span>(54)</span><br>    <a href="http://www.58guakao.com/zizhi104c0s2/1.html" looyu_bound="1">其他资质</a>     <span>(634)</span><br>
                </div>
                <script>
                    $("#zz_old").mousemove(function () {    
                        $("#zz_old_content").show();    
                        $("#zz_new_content").hide();
                        $("#zz_new").attr("style","color:#606060;");
                        $("#zz_old").attr("style","color:#000000;");
                    });        
                    $("#zz_new").mousemove(function () {
                        $("#zz_old_content").hide();
                        $("#zz_new_content").show();
                        $("#zz_old").attr("style","color:#606060;");
                        $("#zz_new").attr("style","color:#000000;");
                    });  
                </script>
    </div>


<div class="c_b">
    <h2>
        <a href="http://www.58guakao.com/qz694.html" looyu_bound="1">全职招聘求职»</a>
        <span style="display: inline-block; background: url(/images/hot.gif) no-repeat; width: 30px; height: 20px; vertical-align: middle;"></span>
    </h2>

        <a href="http://www.58guakao.com/qz713.html" looyu_bound="1">工程/项目管理</a>
        <span>(740)</span><br>                                                
        <a href="http://www.58guakao.com/qz712.html" looyu_bound="1">土木/工程</a>
        <span>(294)</span><br>                                                
        <a href="http://www.58guakao.com/qz699.html" looyu_bound="1">建筑设计</a>
        <span>(218)</span><br>                                                
        <a href="http://www.58guakao.com/qz767.html" looyu_bound="1">给排水/暖通</a>
        <span>(147)</span><br>                                                
        <a href="http://www.58guakao.com/qz772.html" looyu_bound="1">造价/预算</a>
        <span>(133)</span><br>                                                
        <a href="http://www.58guakao.com/qz763.html" looyu_bound="1">现场专业人员</a>
        <span>(103)</span><br>                                                
        <a href="http://www.58guakao.com/qz764.html" looyu_bound="1">装饰装修/室内设计</a>
        <span>(68)</span><br>                                                
        <a href="http://www.58guakao.com/qz771.html" looyu_bound="1">市政/路桥/轨道/隧道</a>
        <span>(64)</span><br>                                                
        <a href="http://www.58guakao.com/qz696.html" looyu_bound="1">销售</a>
        <span>(47)</span><br>                                                
        <a href="http://www.58guakao.com/qz774.html" looyu_bound="1">钢结构</a>
        <span>(42)</span><br>                                                
        <a href="http://www.58guakao.com/qz782.html" looyu_bound="1">综合管理</a>
        <span>(39)</span><br>                                                
        <a href="http://www.58guakao.com/qz776.html" looyu_bound="1">高层管理</a>
        <span>(27)</span><br>                                                
        <a href="http://www.58guakao.com/qz779.html" looyu_bound="1">财务/会计/审计</a>
        <span>(24)</span><br>                                                
        <a href="http://www.58guakao.com/qz775.html" looyu_bound="1">环境工程</a>
        <span>(23)</span><br>                                                
        <a href="http://www.58guakao.com/qz1100.html" looyu_bound="1">技工</a>
        <span>(20)</span><br>                                                
        <a href="http://www.58guakao.com/qz765.html" looyu_bound="1">房地产/物业</a>
        <span>(19)</span><br>                                                
        <a href="http://www.58guakao.com/qz766.html" looyu_bound="1">园林景观</a>
        <span>(19)</span><br>                                                
        <a href="http://www.58guakao.com/qz773.html" looyu_bound="1">评估/招投标</a>
        <span>(18)</span><br>                                                
        <a href="http://www.58guakao.com/qz778.html" looyu_bound="1">市场/营销/策划</a>
        <span>(14)</span><br>                                                
        <a href="http://www.58guakao.com/qz1000.html" looyu_bound="1">普工</a>
        <span>(9)</span><br>                                                
    <div class="clear"></div>
</div>