<link href="<%= root_url %>css/tongcheng/index.css" rel="stylesheet">
<div class="morelink">
    <%= render partial: 'tongcheng/content/provice' %>
    <%= render partial: 'tongcheng/content/category' %>
</div>