<div class="dq_r">
    <ul>
        <li class="dq_k">
            <a class="zx" looyu_bound="1">省份</a>
            <a href="#" class="hover" looyu_bound="1">全国</a>
            <a href="#" looyu_bound="1">北京</a>
            <a href="#" looyu_bound="1">四川</a>
            <a href="#" looyu_bound="1">江苏</a>
            <a href="#" looyu_bound="1">上海</a>
            <a href="#" looyu_bound="1">广东</a>
            <a href="#" looyu_bound="1">山东</a>
            <a href="#" looyu_bound="1">河北</a>
            <a href="#" looyu_bound="1">浙江</a>
            <a href="#" looyu_bound="1">陕西</a>
            <a href="#" looyu_bound="1">安徽</a>
            <a href="#" looyu_bound="1">重庆</a>
            <a href="#" looyu_bound="1">湖北</a>
            <a href="#" looyu_bound="1">河南</a>
            <a href="#" looyu_bound="1">福建</a>
            <a href="#" looyu_bound="1">天津</a>
            <a href="#" looyu_bound="1">湖南</a>
            <a href="#" looyu_bound="1">山西</a>
            <a href="#" looyu_bound="1">江西</a>
            <a href="#" looyu_bound="1">广西</a>
            <a href="#" looyu_bound="1">辽宁</a>
            <a href="#" looyu_bound="1">贵州</a>
            <a href="#" style="padding: 0; width: 42px;" looyu_bound="1">黑龙江</a>
            <a href="#" looyu_bound="1">云南</a>
            <a href="#" looyu_bound="1">甘肃</a>
            <a href="#" looyu_bound="1">吉林</a>
            <a href="#" style="padding: 0; width: 42px;" looyu_bound="1">内蒙古</a>
            <a href="#" looyu_bound="1">青海</a>
            <a href="#" looyu_bound="1">海南</a>
            <a href="#" looyu_bound="1">宁夏</a>
            <a href="#" looyu_bound="1">新疆</a>
            <a href="#" looyu_bound="1">西藏</a>
        </li>
    </ul>
    <ul class="jk1">
        <li><a class="zx" looyu_bound="1">公告</a> </li>
    </ul>
    <div class="out" style="float: right">
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="width: 115px;">
                            <a href="#" style="color: #ff0000;" target="_blank" looyu_bound="1">在线咨询</a> 

                    </td>
                    <td>
                        <a href="#" target="_blank" looyu_bound="1">更多
                            <font style="font-size: 9px;">&gt;&gt;</font>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#" style="color: #ff0000;" target="_blank" looyu_bound="1">在线提问</a> 
                    </td>
                    <td>
                        <a href="#" style="font-weight: bold;" target="_blank"><img border="0" src=""></a>
                    </td>
                </tr>
            </tbody>
        </table>            
    </div>
</div>
<style type="text/css">
    .c_b a.list_zhuanti {
        font-size: 12px;
        padding-right: 20px;
        float: right;
        font-weight: normal;
        margin: 0;
        color: #EE3300;
    }

        .c_b a.list_zhuanti:hover {
            color: #FF0508;
        }
</style>