.media.panel.panel-success
  .panel-heading 信息分类
  .media-body.panel-body
    - @categories.each do |category|
      .span3
        %h4= category.name
        %ul{style: "list-style: none;margin-left: 10px"}
          - category.sub_categories.each do |sub_category|
            %li
              =link_to sub_category.name, sub_category
              %span.badge.badge-info= sub_category.posts.count

.media.panel.panel-info
  .panel-heading 公司信息
  .media-body.panel-body
    - 3.times do
      .span4
        - 6.times do
          %p 北京公司聘证信息发布2014-02-20
    

.media.panel.panel-warning
  .panel-heading 个人信息
  .media-body.panel-body
    - 3.times do
      .span4
        - 6.times do
          %p 个人信息发布2014-02-20