<div class="category">
  <div class="col-md-2">
    <h3>一级建造师</h3>
    <ul>
      <li>建筑工程</li>
      <li>市政公用</li>
    </ul>
    <p><a class="btn btn-default btn-xs" href="#" role="button">查看更多 »</a></p>
  </div>
  <div class="col-md-2">
    <h3>二级建造师</h3>
    <ul>
      <li>建筑工程</li>
      <li>市政公用</li>
    </ul>
    <p><a class="btn btn-default btn-xs" href="#" role="button">查看更多 »</a></p>
  </div>
  <div class="col-md-2">
    <h3>二级建造师</h3>
    <ul>
      <li>建筑工程</li>
      <li>市政公用</li>
    </ul>
    <p><a class="btn btn-default btn-xs" href="#" role="button">查看更多 »</a></p>
  </div>
  <div class="col-md-2">
    <h3>二级建造师</h3>
    <ul>
      <li>建筑工程</li>
      <li>市政公用</li>
    </ul>
    <p><a class="btn btn-default btn-xs" href="#" role="button">查看更多 »</a></p>
  </div>
    <div class="col-md-2">
    <h3>二级建造师</h3>
    <ul>
      <li>建筑工程</li>
      <li>市政公用</li>
    </ul>
    <p><a class="btn btn-default btn-xs" href="#" role="button">查看更多 »</a></p>
  </div>
</div>