%hr{style: "color:black"}

#footer
  .maintain.row
    %ul
      %li
        = link_to "网站管理", front_admin_path
        |
        - if current_admin
          = link_to "退出管理", destroy_admin_session_path, { method: :delete}
          |
        = link_to "意见反馈", maintain_path
  .address.row
    %ul
      %li 技术支持: 中国资质
      %li 联系电话: 010-xxxxxxxx
