%hr{style: "color:black"}

#footer
  .maintain.row
    %ul
      %li
        = link_to "网站管理"
        |
        = link_to "联系我们"
  .address.row
    %ul
      %li www.abc.com
      %li 版权所有: 中国资质
      %li 技术支持: 中国资质
      %li 协会电话: 010-xxxxxxxx