.hero-unit{style: "margin-top: 20px;padding-top:20px;padding-bottom:20px"}
  %h1
  %p{style: "font-size:110%" } 打造中国一流的资质网络平台
  %p
    =link_to '个人发布 »', front_publish_path, class: 'btn btn-primary btn-small'
    %a.btn.btn-success.btn-small 公司发布 »