.hero-unit{style: "margin-top: 20px;padding-top:20px;padding-bottom:20px"}
  %h1
  %p{style: "font-size:110%" } 
    建筑同城网
    - if not @province.nil?
      %span{style: "font-size:80%"}= "(" + @province.name + "站)"
    - else
      %span{style: "font-size:80%"} (全国)
  %p
    =link_to '个人发布 »', front_publish_path, class: 'btn btn-primary btn-small'
    / %a.btn.btn-success.btn-small 公司发布 »
    
.row-fluid{data: {desc: "province_unit"}}
  = render partial: 'common/theme/province_unit', object: @provinces