<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="padding-top:10px;padding-bottom:10px">
  <h1></h1>
  <p>打造中国一流的资质网络平台</p>
  <p>
    <a href="#" class="btn btn-primary btn-sm" role="button">个人发布 »</a>
    <a href="#" class="btn btn-success btn-sm" role="button">公司发布 »</a>
  </p>
</div>