.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{href: '/'} 建筑同城网
      %ul.nav
        %li.active
          %a{href: '/'} 首页
        %li
          %a{href: '#'} 关于我们
        %li
          %a{href: '#'} 联系我们
        %li.dropdown
          %a.dropdown-toggle{href: '#', data: {toggle: 'dropdown'}} 
            选择城市
            %b.caret
          %ul.dropdown-menu
            - @provinces.each do |province|
              %li
                = link_to province.name, "/" + province.abbr, {tabindex: "-1"}
            %li.divider
            %li
              = link_to '添加城市', new_province_path, {tabindex: "-1"} 
      %ul.nav.pull-right
        %li
          %a{href: '#', style: "padding-right:0px"} 登录
        %li.divider-vertical
        %li
          %a{href: '#', style: "padding-left:0px"} 注册