<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">资质网</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">首页</a></li>
            <li><a href="#about">关于我们</a></li>
            <li><a href="#contact">联系我们</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">选择城市 <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">北京</a></li>
                <li><a href="#">河北</a></li>
                <li><a href="#">山东</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">添加城市</li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="font-size:90%;">
              <li><a href="#" style="padding-right:0px;">登录</a></li>
              <li><a style="padding-right:5px;padding-left:5px;">|</a></li>
              <li><a href="#" style="padding-left:0px;">注册</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>