<!DOCTYPE html>
<html>
<head>
  <title>RailsExamples</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script src="js/bootstrap.min.js"></script>
</body>
</html>
